<launch>
    <arg name="rviz_config" default="$(find hesai_ros_driver)/rviz/rviz.rviz"/>

    <node pkg="hesai_ros_driver" name="hesai_ros_driver_node" type="hesai_ros_driver_node" output="screen">
        <rosparam command="load" file="$(find hesai_ros_driver)/config/config.yaml"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_ot_left" 
          args="7.8 1.2 3.3 0 0 0 base_link ot128_left_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_ot_right" 
          args="7.8 -1.2 3.3 0 0 0 base_link ot128_right_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_qt_left" 
          args="7.8 1.2 1.4 0 0 0 base_link qt128_left_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_qt_right" 
          args="7.8 -1.2 1.4 0 0 0 base_link qt128_right_frame" />


    <include file="$(find velodyne_pointcloud)/launch/VLP-32C_points.launch">
        <arg name="frame_id" value="velodyne"/>
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_velodyne" 
          args="-3.2 0 1.6 0 0 0 base_link velodyne" />


    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" />
</launch>
