<launch>
  <node pkg="gscam" type="gscam" name="cam_0" output="screen">
    <param name="camera_name" value="cam_0"/>
    <param name="frame_id" value="cam_0_link"/>
    <param name="gscam_config" value="v4l2src device=/dev/video0 ! image/jpeg,width=640,height=480,framerate=15/1 ! jpegdec ! videoconvert ! video/x-raw,format=RGB ! appsink name=ros_appsink"/>
    <remap from="camera/image_raw" to="/cam_0/image_raw"/>
  </node>

  <node pkg="gscam" type="gscam" name="cam_1" output="screen">
    <param name="camera_name" value="cam_1"/>
    <param name="frame_id" value="cam_1_link"/>
    <param name="gscam_config" value="v4l2src device=/dev/video1 ! image/jpeg,width=640,height=480,framerate=15/1 ! jpegdec ! videoconvert ! video/x-raw,format=RGB ! appsink name=ros_appsink"/>
    <remap from="camera/image_raw" to="/cam_1/image_raw"/>
  </node>

  <node pkg="gscam" type="gscam" name="cam_2" output="screen">
    <param name="camera_name" value="cam_2"/>
    <param name="frame_id" value="cam_2_link"/>
    <param name="gscam_config" value="v4l2src device=/dev/video2 ! image/jpeg,width=640,height=480,framerate=15/1 ! jpegdec ! videoconvert ! video/x-raw,format=RGB ! appsink name=ros_appsink"/>
    <remap from="camera/image_raw" to="/cam_2/image_raw"/>
  </node>

  <node pkg="gscam" type="gscam" name="cam_3" output="screen">
    <param name="camera_name" value="cam_3"/>
    <param name="frame_id" value="cam_3_link"/>
    <param name="gscam_config" value="v4l2src device=/dev/video3 ! image/jpeg,width=640,height=480,framerate=15/1 ! jpegdec ! videoconvert ! video/x-raw,format=RGB ! appsink name=ros_appsink"/>
    <remap from="camera/image_raw" to="/cam_3/image_raw"/>
  </node>
</launch>
